# Task1 
## Referral ID: SIRSS2150 
## Name : Arpit Sharma

In [1]:
for i in range(5):
    for j in range(5-i):
        print("5",end = ' ')
    print()

5 5 5 5 5
5 5 5 5
5 5 5
5 5
5

In [2]:
for i in range(5,0,-1):
    for j in range(i+1):
        print(j,end= ' ')
    print()

0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1

In [3]:
for i in range(5):
    for j in range(i+1):
        print(i*2+1,end=' ')
    print()

1
3 3
5 5 5
7 7 7 7
9 9 9 9 9

In [4]:
for i in range(6):
    for j in range(i,0,-1):
        print(j,end= ' ')
    print()

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [5]:
num=1
for i in range(4):
    for j in range(i+1,0,-1):
        print(num,end=' ')
        num +=1
    print()

1
2 3
4 5 6
7 8 9 10

In [6]:
from math import factorial
n = 7
for i in range(n):
    for j in range(i+1):
        print(factorial(i)//(factorial(j)*factorial(i-j)), end=" ")
    print()

1
1 1
1 2 1
1 3 3 1
1 4 6 4 1
1 5 10 10 5 1
1 6 15 20 15 6 1

In [7]:
rows=6
for i in range(1,rows):
    for j in range(1,rows):
        if j<=i:
            print(i,end=' ')
        else:
            print(j,end=' ')
    print()

1 2 3 4 5
2 2 3 4 5
3 3 3 4 5
4 4 4 4 5
5 5 5 5 5

In [8]:
for i in range(8):
    num=i+1
    for j in range(i+1):
        if j==0 :
            print(num, end=' ')
            continue
        else:
            print(num*(j+1),end=' ')
            continue
    print()

1
2 4
3 6 9
4 8 12 16
5 10 15 20 25
6 12 18 24 30 36
7 14 21 28 35 42 49
8 16 24 32 40 48 56 64

In [9]:
rows=6
for i in range(rows,0,-1):  # i = 4,3,2,1
    for k in range(0,rows-i):
        print('',end=' ')
    for j in range(0,i):
        print('*',end=' ')
    print()

* * * * * *
 * * * * *
  * * * *
   * * *
    * *
     *

In [10]:
rows = 7
for i in range(0,rows):
    for k in range(rows-(i+1)):
        print(" ",end='')
    for j in range(0,i+1):
        print(' *',end='')
    print()

       *
      * *
     * * *
    * * * *
   * * * * *
  * * * * * *
 * * * * * * *

In [11]:
rows=6
for i in range(rows):
    for j in range(i+1):
        print('*',end=" ")
    print()
print()
for i in range(rows,0,-1):
    for j in range(i):
        print('*',end=" ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *

* * * * * *
* * * * *
* * * *
* * *
* *
*

In [12]:
rows = 5
for i in range(0, rows):
    for j in range(0, i + 1):
        print("*", end=' ')
    print()

for i in range(rows-1,0,-1):
    for j in range(0,i):
        print('*',end=' ')
    print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [13]:
rows=5
for i in range(0,rows):
    for k in range(1,rows-i):
        print(" ",end=' ')
    for j in range(0,i+1):
        print('* ',end="")
    print()
    
for i in range(rows-1,0,-1):
    for k in range(rows-i):
        print(' ',end=' ')
    for j in range(i):
        print('* ',end='')
    print()

        *
      * *
    * * *
  * * * *
* * * * *
  * * * *
    * * *
      * *
        *

In [14]:
rows = 5
for i in range(rows,0,-1):
    for k in range(rows-i):
        print('',end=" ")
    for j in range(i):
        print('*',end=' ')
    print()
    
for i in range(rows):
    for k in range(rows-(i+1)):
        print('',end=" ")
    for j in range(i+1):
        print('*',end=' ')
    print()

* * * * *
 * * * *
  * * *
   * *
    *
    *
   * *
  * * *
 * * * *
* * * * *

In [15]:
n=8
a='*'
b="_"*2
for i in range(n):
    print(a*(n-i)+b*i+a*(n-i))

****************
*******__*******
******____******
*****______*****
****________****
***__________***
**____________**
*______________*